* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding-top: 40px;
	padding-left: 30px;
	display: grid;
	font-family: cursive;
}
#scoretext{
	font-size: 150px;
	font-weight: 700;
}

#resetbn{
	width: 150px;
	height: 80px;
	padding: 15px;
	font-size: 50px;
	color: white;
	border-radius: 20px;
	background-color: black;
}

.align{
	float: right;
	margin-right: 200px;
}